<nav class="navbar navbar-expand-lg navbar-light gradient-custom mb-5">
    <div class="container">
      <span class="navbar-brand text-white">LKM Soluções</span>
      <div class="navbar-nav">
        <a class="nav-item nav-link text-white-50" routerLink="/listar" routerLinkActive="text-white">LISTAR TODOS</a>
        <a class="nav-item nav-link text-white-50" routerLink="/add" routerLinkActive="text-white">ADICIONAR</a>
        <button class="nav-item nav-link text-white-50" (click)="Logout()">SAIR</button>
      </div>
    </div>
</nav>