<div class="container">
  <div class="card shadow">
    <h5 class="card-header">Lista de Tarefas</h5>
    <div class="card-body">
        <div class="list-group" *ngFor="let tarefa of tarefas | async">
            <div class="container">
              <div class="row" [ngClass]="{'text-bg-success': tarefa?.concluido}">
                <div class="col text-center">
                  <input type="checkbox" [checked]="tarefa?.concluido" class="form-check-input" id="complete">
                </div>
                <div class="col">
                  <p for="complete" class="form-check-label lead">{{tarefa?.titulo}}</p>
                </div>
                <div class="col">
                  <p for="complete" class="form-check-label lead">{{tarefa?.descricao}}</p>
                </div>
                <div class="col">
                  <p class="mx-3">{{tarefa?.dataCriacao | date: 'dd MMMM yyyy'}}</p>
                </div>
                <div class="col">
                  <a [routerLink]="['/editar', tarefa.id]" class="btn btn-secondary btn-sm mx-3">Editar</a>
                  <button class="btn btn-danger btn-sm mx-3" (click)="ExcluirTarefa(tarefa?.id)">Deletar</button>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>